/*_______________________Button_______________________*/

/* _________________________Шапка_______________________ */

/*____________________ Навигация___________________ */

/* ____________________Секция герой_______________________*/

/* ____________________feature______________________ */

/*-------------------------Примеры работ-----------------------*/

/*_______________________TEAM_________________________ */

/*____________________Постійні кліенти__________________ */

/* =======================Подвал============================ */

footer {
  background-color: rgba(47, 48, 58, 1);
}

.foot {
  display: flex;
  align-items: baseline;

  padding-top: 60px;
  padding-bottom: 60px;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.call {
  margin-top: 12px;
  margin-left: 70px;
}

.logo-sec,
.address-maps {
  color: var(--primary-bg-color);

  text-decoration: none;

  transition: var(--transition-transform);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address-maps:hover,
.address-maps:focus {
  color: var(--accent-color);
}

.address-nav {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: var(--transition-transform);
}

.address-nav:hover,
.address-nav:focus {
  color: var(--accent-color);
}

/*______________ Приєднуйтесь */

.footer-title {
  margin-bottom: 20px;

  color: var(--primary-bg-color);

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  transition: var(--transition-transform);
}

.footer-icon {
  fill: var(--primary-bg-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-icon:hover,
.footer-icon:focus {
  fill: var(--primary-bg-color);
}

.footer-soc-link:hover .footer-icon {
  fill: var(--primary-bg-color);
}

.footer-soc-link:focus .footer-icon {
  fill: var(--primary-bg-color);
}

/* --------------------PORTFOLIO.CSS-------------------- */

/* Фильтр */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  color: var(--title-text-color);
  background-color: rgba(245, 244, 250, 1);
  border: none;
  cursor: pointer;
  padding: 6px 22px 6px 22px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* _____________________Галерея___________________ */

.gallery {
  margin-top: 0px;
  margin-bottom: 0px;

  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-list {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-list-thumb {
  position: relative;
  overflow: hidden;
}

.gallerry-border {
  padding: 20px 24px 20px 24px;

  height: 110px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}

.gallery-list-link:hover .gallery-list-text,
.gallery-list-link:focus .gallery-list-text {
  transform: translateY(0);
  transition: transform 250ms;
}

.gallery-list-text {
  left: 0;
  top: 0;
  position: absolute;
  display: inline-block;
  height: 100%;

  padding: 63px 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--primary-bg-color);
  letter-spacing: 0.03em;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms;
}

.gallery-list-link:hover .gallery-list-text {
  transform: translateY(0);
}

.gallery-list {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: none;
}

.gallery-list-link {
  display: block;
  text-decoration: none;
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-link:hover,
.gallery-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list:nth-child(3n) {
  margin-right: 0px;
}

.gallery-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.gallery-title {
  color: var(--title-text-color);

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}

/* ____________Підпишіться на розсилку_________________ */

.footer-subscribe {
  padding-bottom: 34px;
}

.footer-button {
  position: relative;

  margin-top: 48px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0;

  padding: 10px 62px 10px 28px;

  cursor: pointer;
  border: none;

  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: var(--transition-transform);
}

.icon-send {
  display: inline-block;

  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  right: 28px;

  fill: rgba(255, 255, 255, 1);
  transition: var(--transition-transform);
}

.footer-button:hover,
.footer-button:focus {
  background: var(--primary-bg-color);
  color: var(--accent-color);
  transition: var(--transition-transform);
}

.footer-button:hover .icon-send,
.footer-button:focus .icon-send {
  fill: var(--accent-color);
  transition: var(--transition-transform);
}

.footer-input {
  margin-left: 93px;
}

.label-subscribe {
  display: block;
  margin-bottom: 20px;

  width: 207px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-subscribe-title {
  width: 207px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe-input {
  padding: 15px 15px 16px;
  width: 358px;
  height: 50px;
  color: #ffffff;

  background-color: rgba(47, 48, 58, 1);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

/* ___________________MODAL________________________ */

.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  transition: transform 250ms linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);

  padding: 40px;

  width: 528px;
  min-height: 581px;
  max-height: 100%;

  background-color: var(--primary-bg-color);

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0);
}

.modal-close {
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background-color: var(--primary-bg-color);

  border: 1px solid rgba(0, 0, 0, 0.1);

  position: fixed;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: var(--transition-transform);
}

.icon-close-black {
  fill: rgba(0, 0, 0, 1);
  transition: var(--transition-transform);
}

.modal-close:hover .icon-close-black,
.modal-close:focus .icon-close-black {
  fill: var(--accent-color);
  transition: var(--transition-transform);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: rgba(33, 33, 33, 1);
}

.modal-field:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.modal-field-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-input {
  padding: 0 0 0 42px;
  display: block;

  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
}

.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
  transition: var(--transition-transform), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
  transition: var(--transition-transform);
}

.modal-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.modal-icon {
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-color);
}

.modal-phone {
  position: relative;
  top: 0;
  left: 0;
}

.modal-mail {
  position: relative;
  top: 0;
  left: 0;
}

.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
  background: #2196f3;

  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
  background: var(--primary-bg-color);
  border: none;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;

  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: var(--primary-text-color);
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
  transition: var(--transition-transform), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check {
  height: 24px;
}

.modal-field-privacy {
  margin-bottom: 30px;
  text-align: center;
}

.contract {
  color: var(--accent-color);
}

.check-text {
  height: 24px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.check-text::before {
  bottom: -2px;
  position: relative;
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;

  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.modal-check:checked + .check-text::before {
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/vector.svg);
}

/* _________uhuhuhuhuhuh_______________ */
